html {
  font-family: 'Times New Roman';
  background-color: rgb(197, 197, 197);
}
fieldset {
  border-color: black;
}
h1 {
  text-align: center;
  color: brown;
}
p {
  font-size: 20px;
  font-family: 'Pacifico';
  margin: 0 auto;
  padding: 0 7px 7px 7px;
}
a {
  text-decoration: none;
}
a:hover {
  color: red;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: space-between;
}
.article {
  flex: 1 1 100px;
  border: 2px solid black;
  margin-top: 5px;
  padding: 5px;
  min-width: 200px;
}
.article:nth-of-type(3) {
  flex: 3 1 200px;
  display: flex;
  flex-flow: column;
}
.article:nth-of-type(3) div:first-child {
  flex: 1 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
button {
  flex: 1 1 auto;
  font-size: 18px;
  border: 2px solid black;
  margin: 5px;
  line-height: 1.5;
}
